In [1]:
import pandas as pd
import numpy as np
import networkx as nx

import pandasql as ps
from pandasql import sqldf

import matplotlib.pyplot as plt

# Ignore matplotlib warnings
# import warnings
# warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("../TVTropesData/film_tropes.csv")
df.head()

,Unnamed: 0,Title,Trope,Example,trope_id,title_id
0,0,ABBATheMovie,MsFanservice,The concert segments make it clear that Agnet...,t14656,f0
1,1,ABBATheMovie,InsistentTerminology,The radio station manager that tasks Ashley w...,t11527,f0
2,2,ABBATheMovie,TheIngenue,A rare male example; when Benny reads one new...,t23019,f0
3,3,ABBATheMovie,GettingCrapPastTheRadar,During Ashley's fantasy sequence in which he ...,t09016,f0
4,4,ABBATheMovie,WhoWearsShortShorts,"Frida's outfit in the ""Why Did It Have to Be ...",t25994,f0

In [3]:
df.count()

Unnamed: 0    751594
Title         751594
Trope         751594
Example       733106
trope_id      751594
title_id      751594
dtype: int64

In [4]:
# q = (
#     """
#     SELECT Trope, COUNT(DISTINCT Title)
#     FROM df
#     GROUP BY Trope
#     ORDER BY COUNT(DISTINCT Title) desc
#     LIMIT 10;
#     """
# )

# print(ps.sqldf(q, locals()))

In [5]:
q = ("""
    WITH top_tropes AS
        (SELECT Trope, COUNT(DISTINCT Title)
        FROM df
        GROUP BY Trope
        ORDER BY COUNT(DISTINCT Title) desc
        LIMIT 10
        )
    SELECT df.Trope, df.Title
    FROM df, top_tropes
    WHERE df.Trope = top_tropes.Trope;
    """)
top = sqldf(q)

In [6]:
# q = ("""
#     WITH top_tropes AS
#         (SELECT Title, COUNT(DISTINCT Trope)
#         FROM df
#         GROUP BY Title
#         ORDER BY COUNT(DISTINCT Trope) desc
#         LIMIT 5)
#     SELECT df.Trope, df.Title
#     FROM df, top_tropes
#     WHERE df.Title = top_tropes.Title;
#     """)
# top = sqldf(q)

In [7]:
top.head(5)

            Trope           Title
0  DeadpanSnarker    ABBATheMovie
1        TheCameo    ABBATheMovie
2     HorrorFilms    ABCsOfDeath2
3   Foreshadowing  ABeautifulMind
4        ShoutOut  ABeautifulMind

In [8]:
top.count()

Trope    13717
Title    13717
dtype: int64

In [9]:
# g = nx.from_pandas_edgelist(top, source='Title', target='Trope')

Next time: https://melaniewalsh.github.io/Intro-Cultural-Analytics/06-Network-Analysis/02-Making-Network-Viz-with-Bokeh.html

In [10]:
# deg_centrality = nx.degree_centrality(g)
# centrality = np.fromiter(deg_centrality.values(), float)

In [11]:
# ## Source: https://stackoverflow.com/questions/67190637/change-color-size-of-graph-in-networkx-based-on-degree-centrality-measure

# pos = nx.kamada_kawai_layout(g)
# nx.draw(g, pos, node_color=centrality, node_size=centrality*2e3)
# nx.draw_networkx_labels(g, pos)
# plt.show()

In [12]:
## Source: https://www.cs.utah.edu/~yos/2021/02/02/plotly-python.html
%run visualize.py


# g = nx.petersen_graph()
g = nx.from_pandas_edgelist(top, source='Title', target='Trope') 

# set 2D positions
import math

pos2d = {}

for i in range(5):
    theta = 2 * math.pi * i / 5 + math.pi / 2
    pos2d[i] = (2 * math.cos(theta), 2 * math.sin(theta))  # outer vertices
    pos2d[5 + i] = (math.cos(theta), math.sin(theta))      # inner vertices

# for v in g:
#     print('%d: (%6s, %6s)' % (v, '%.3f' % pos2d[v][0], '%.3f' % pos2d[v][1]))

In [13]:
vis = GraphVisualization(g, pos2d)
fig = vis.create_figure()

g = nx.watts_strogatz_graph(300, 12, 0.01, seed=12345)
pos = nx.spring_layout(g)
vis = GraphVisualization(g, pos, node_size=4, node_border_width=1, edge_width=0.5)
fig = vis.create_figure(height=800, width=800, showlabel=False)
fig.show()

ValueError: